@use '../abstracts/variables' as var;

.custom__menu {
  margin-right: 2rem;

  .nav-item a {
    padding: 0.6rem 2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.4s;

    &:hover {
      color: #00ffff;
      background-color: var.$dark-gray;
      border-color: #00ffff;
    }


  }
}

.dropdown-menu {
  background-color: #141414;
  width: 250px;
  padding: 2rem;
  .nav-item {
    margin: 1rem 0;
  }
}
