$font-primary: "Lato", sans-serif;
$font-heading: "Bebas Neue", sans-serif;

$color-dark: #020202;
$dark-gray: #4E5658;
$light-gray: #7B8383;
$gray: #333333;
$text-gray: #808887;
$border-aqua: #63D1D6;
